.plans__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.plan h3{
    margin-bottom: 0.8rem;
}

.plan small{
    margin-bottom: 2rem;
}

.plan h1{
    color: var(--color-primary-variant);
    display:inline-block ;
}
.plan h2{
    display: inline-block;
    color: grey;

}

.plan h4{
    margin-top: 2rem;

}

.plan p.disabled{
    color: var(--color-primary);
}

.plan button{
    margin-top: 3rem;
    cursor: pointer;
}